{%- set actions = ['opened', 'closed', 'reopened', 'edited'] %}
{%- if json.action in actions %}
[{{ json.repository.name }}]
{%- if json.action == 'opened' %}
(F)Pull request by {{ json.sender.login }}
{%- elif json.action == 'closed' %}
(cracker)Pull request クローズ by {{ json.sender.login }}
{%- elif json.action == 'reopened' %}
(F)Pull request 再開 by {{ json.sender.login }}
{%- elif json.action == 'edited' %}
(F)Pull request 編集 by {{ json.sender.login }}
{%- endif %}
{{ json.pull_request.html_url }}
[info][title]{{ json.pull_request.title }}[/title]{{ json.pull_request.body }}[/info]
{%- endif %}